@import 'colors';
@import 'fonts';

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $lightBlue;
  font-family: $bodyFonts;
  margin-bottom: 60px;
}

.top-title {
  text-align: center;
  font-family: $titleFonts;
  font-size: 3em;
  font-weight: 700;
}

body p {
  font-size: 1.3em;
}

.section > p {
  text-indent: 30px;
}

.modal p {
  font-size: 1.2em;
}

.section-title {
  text-decoration: underline;
  margin-bottom: 12px;
  font-weight: 600;
}

.container {
  padding: 20px 8%;
  background-color: $white;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 14px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 992px) {
  .container {
    border-radius: 5px;
    margin: 20px auto;
    max-width: 970px;
  }
}

.row {
  margin-top: 20px;
}

.settings-box {
  margin-bottom: 20px;
}

.passphrases, .pw-text {
  font-family: $codeFonts;
  font-size: 1.1em;

  .list-group-item {
    text-align: center;
    border-width: 0;
    padding: 8px 15px;
  }
}

.input-group {
  margin-bottom: 18px;

  input {
    height: 50px;
  }
}

.pw-text {
  background-color: $white;
  text-align: center;
}

@media (min-width: 768px) {
  .top-buffer {
    margin-top: 20px;
  }  
}

.footer {
  /* Set the fixed height of the footer here */
  border-top: 1px solid $black;
  height: 40px;
}

.code {
  padding: 2px;
  margin: 2px 0;
  color: $deepRed;
  font-family: $codeFonts;
}
